<div class="container">
    <table class="table table-striped table-hover">
      <thead class="table-head">
        <tr>
          <th>Name</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody class="table-body">
        <tr *ngFor="let item of ItemArray">
          <th>{{ item.Name }}</th>
          <td>{{ item.Price }}</td>
          <td>
            <!-- <button class="btn btn-link" type="button" (click)="">Edit</button> -->
            <button class="btn btn-link" type="button" (click)="Delete(item)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
