<div class="container" style="padding-top:40px;">  
    <div class="row">  
      <div class="col-md-6 mx-auto">  
        <div class="card mx-4">  
          <div class="card-body p-4">  
            <form  [formGroup]="loginForm" (ngSubmit)="loginSubmited()"> 
              <div style="text-align:center">
                 <img src="../../assets/images/KirazSoft.jpg" >
              </div>
              <h1 style="text-align:center">Login</h1>  

              <div class="row input-group mb-3">  

                <input type="email" class="form-control" placeholder="Email"  formControlName="email">  
               <div class="form-text text-danger" *ngIf="Email.errors?.['required'] && (Email.dirty || Email.touched)">
                  Email is Required!
               </div>
               <div class="form-text text-danger" *ngIf="Email.errors?.['email'] &&(Email.dirty || Email.touched)">
                Email is Invalid!
             </div>
              </div>  
              <div class="row input-group mb-3">  
                <input type="password" class="form-control" placeholder="Password"  formControlName="password">  
                <div class="form-text text-danger" *ngIf="Password.errors?.['required'] &&(Password.dirty || Password.touched)">
                  Password is Required!
               </div>
                <div class="form-text text-danger" *ngIf="Password.errors?.['minlength'] || Password.errors?.['maxlength'] && (Password.dirty || Password.touched)">
                  Password should be at least 4 and the max 8 characters long!
               </div>
              </div>  
              <button type="submit" class="btn btn-block btn-success" [disabled]="loginForm.invalid">Login</button>  
            </form>  
          </div>  
        </div>  
      </div>  
    </div>  
  </div> 